https://testing.com {
    reverse_proxy   web:80
    tls /etc/certs/localhost.crt /etc/certs/localhost.key
}

https://a.testing.com {
    reverse_proxy   web:80
}

https://b.testing.com {
    reverse_proxy   web:80
}