https://sm.com {
    tls /etc/certs/localhost.crt /etc/certs/localhost.key
    reverse_proxy   web:80
}

https://a.sm.com {
    tls /etc/certs/localhost.crt /etc/certs/localhost.key
    reverse_proxy   web:80
}